<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
<!--   <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div> -->
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
          <% var br = post.content.indexOf('\n', theme.excerpt_length) %>
          <% if(br < 0 || !index) { %>
            <%- post.content %>
          <% } else { %>
            <%- post.content.substring(0, br) %>
            <% if (theme.excerpt_link) { %>
              <p class="article-more-link">
                <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
              </p>
            <% } %>
          <% } %>
      <% } %>

    </div>
    <footer class="article-footer">
      <% if (theme.author_meta.enable && !index) { %>
        <div class="author__meta">
            <div class='autorh__avatar-wrap'>
              <a href=""><img alt="<%= theme.author_meta.author_name %>" src="<%= theme.author_meta.author_avatar %>" class="author__avatar" height="90" width="90"></a>
            </div>
            <h3 class='author__name'><%= theme.author_meta.author_name %></h3>
            <%if (theme.author_meta.social && theme.social){ %>
              <%- partial('_partial/social') %>
            <% } %>
            <% if (theme.author_meta.description) { %>
              <p class='author__desc'><%= theme.author_meta.description%></p>
            <% } %>
        </div>
      <% } %>
      <div class='article-subfooter'>
         <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link">Share</a>
        <% if (post.comments && config.disqus_shortname){ %>
          <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
        <% } %>
        <%- partial('post/tag') %>
      </div>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments){ %>
  <%- partial('_partial/post/comments/disqus') %>
  <%- partial('_partial/post/comments/duoshuo') %>
<% } %>