<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info">
      &copy;<%- config.author + "'s blog " %>
      <% var current = date(new Date(), 'YYYY');%>
      <% if (theme.since && theme.since < current && theme.since > 0) { %>
          <%- theme.since%> - 
      <% } %>
      <%= current %> • All rights reserved.<br>
      Published with <a href="http://hexo.io/" target="_blank">Hexo</a> Theme by <a href="https://github.com/HelKyle/hexo-theme-helkyle" target="_blank">helkyle</a>
    </div>
    <% if (theme.footer_social.enable) { %>
    <div class="foot-nav">
      <%- partial('_partial/social') %>
    </div>
    <% } %>
  </div>
</footer>