<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info">
      &copy;<%- config.author + "'s blog " %><%= date(new Date(), 'YYYY') %> • All rights reserved.<br>
      Published with <a href="http://hexo.io/" target="_blank">Hexo</a> Theme by <a href="https://github.com/HelKyle/hexo-theme-helkyle" target="_blank">helkyle</a>
    </div>
    <div class="foot-nav">
      <ul class="social">
        <% for (var i in theme.social){ %>
          <li><a class="<%= i %>" href="<%- theme.social[i] %>" title="<%= i %>"><%= i %></a></li>
        <% } %>
      </ul> 
    </div>
  </div>
</footer>